* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

.wrapper {
    flex-grow: 1;
}

.content {
    flex: 1 0 auto;
}

.content h1 {
    font-size: 56px;
    font-weight: bolder;
}

.content a {
    color: white;
    text-decoration: none;
    background-color: darkblue;
    padding: 12px 24px;
    font-size: 22px;
    border-radius: 10px;
    font-weight: bolder;
}

.nav-span {
    font-size: 12px;
    color: darkgray;
    padding-right: 10px;
}

.link {
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.link-auth {
    font-size: 16px;
    text-decoration: none;
    color: deepskyblue;
}

.link:hover, .link-auth:hover {
    color: darkgray;
}

.expire-div {
    color: deepskyblue;
    position: absolute;
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

}